.twocolumns {
    display: flex;
    flex-wrap: wrap;
    margin: 0 2rem;
    justify-content: center;
    align-items: flex-start;
    gap: 1rem;
    width: 80%;
}
.column1{
  flex-basis: 50%;
  /* border-right: 1px solid gray; */
  min-width: 300px;
  flex-grow: 1;
  margin-left: 2rem;
}


.column2{
    margin-left: 2rem;
    flex-basis: 0;
    min-width: 400px;
    flex-grow: 999;
}
.center{
    margin-left: auto;
    margin-right: auto;
}
.stack{
    display: flex;
    flex-direction: column;
    gap: 1em;
    justify-content: left;
}

.cluster{
    display: flex;
    flex-direction: row;
    gap: 1em;
    flex-wrap: nowrap;
    align-items: flex-end;
    justify-content: left;

}
.heading{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 30%;
}


table > *+*{
    margin-top: 15rem;

}

form{
    margin-bottom:6rem;
}

